---
layout: default
title: learning
---
{% include header.html %}
<div class="listing">
    <h1>Finished Courses:</h1>
    <ul>
        {% for item in site.data.learning.finished %}
        <li>
            <span>
            {{ item.title }}
            ({{ item.institution }})
            </span>
            <span>
            <a href="/courses/{{ item.thoughts-url }}">thoughts</a> |

            <a href="{{ item.course-url }}">course</a>
            </span>
        </li>
        {% endfor %}
        {% for item in site.data.learning.finished-small %}
        <li>
            <span id=smallcourse> {{ item.title }} ({{ item.institution }})</span>
            <span>
            <a href="/courses/{{ item.thoughts-url }}">thoughts</a> |
            <a href="{{ item.course-url }}">course</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- <div class="listing"> -->
<!--     <h1>Ongoing Courses:</h1> -->
<!--     <ul> -->
<!--         {% for item in site.data.learning.ongoing %} -->
<!--         <li> -->
<!--             <span id=realanalysis> {{ item.title }} ({{ item.institution }})</span> -->
<!--             <span> -->
<!--             <a href="/courses/{{ item.thoughts-url }}">thoughts</a> | -->
<!--             <a href="{{ item.course-url }}">course</a> -->
<!--             </span> -->
<!--         </li> -->
<!--         {% endfor %} -->
<!--     </ul> -->
<!-- </div> -->

<!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-qns3YJDxX3eed"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-qns3YJDxX3eed.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->
