---
layout: default
title: learning
---
{% include header.html %}
<div class="listing">
    <h1>Finished Courses:</h1>
    <ul>
        {% for item in site.data.learning.finished %}
        <li>
            <span>
            {{ item.title }}
            ({{ item.institution }})
            </span>
            <span>
            <a href="/courses/{{ item.thoughts-url }}">thoughts</a> |

            <a href="{{ item.course-url }}">course</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="listing">
    <h1>Ongoing Courses:</h1>
    <ul>
        {% for item in site.data.learning.ongoing %}
        <li>
            <span id=realanalysis> {{ item.title }} ({{ item.institution }})</span>
            <span>
            <a href="/courses/{{ item.thoughts-url }}">thoughts</a> |
            <a href="{{ item.course-url }}">course</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
